h1{
    text-align: center;
}

table, th, td{
    margin: auto;
    border: 2px solid;
    border-collapse: collapse;
    width: 450px;
    padding: 5px;
}

img{
    float: right;
    width: 150px;
}

h4{
    text-align: center;
    margin-top: 100px ;
}

p{
    text-align: justify;
}